
    <section class="banner">
        <div class="bg-image">
            <img src="../../img/bunner-decoration.png"/>
        </div>
        <div class="container">
            <div class="banner-wrapper">
                <div class="banner-content-block">
                    <div class="content-block-text">
                        <h1>Sed Imperdiet Enim li Vitae <span>Viverra Justo</span></h1>
                        <p>Nam sollicitud nunc, cursus eros vulputate sed. Vestibulum sit amet tortor sit amet libero lobortis.</p>
                    </div>
                    <div class="content-block-actions">
                        <button class="content-block-actions-btn btn">App Store</button>
                        <button class="content-block-actions-btn btn">Google Play</button>
                    </div>
                </div>
                <div class="banner-image-block">
                    <img src="../../img/mobile_banner.svg"/>
                </div>
            </div>
        </div>
    </section>

