
    <section class="banner">
        <div class="bg-image">
            <img src="../../img/bunner-decoration.png"/>
        </div>
        <div class="container">
            <div class="banner-wrapper">
                <div class="banner-content-block">
                    <div class="content-block-text">
                        <h1>Sed Imperdiet Enim li Vitae <span>Viverra Justo</span></h1>
                        <p>Nam sollicitud nunc, cursus eros vulputate sed. Vestibulum sit amet tortor sit amet libero lobortis.</p>
                    </div>
                    <div class="content-block-actions">
                        <a class="content-block-actions-btn" href="#">
                            <img class="content-block-actions-image" src='../../img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917 1.png' alt='Download on the App Store'/>
                        </a>
                        <a class="content-block-actions-btn" href="#">
                            <img class="content-block-actions-image" src='../../img/GetItOnGooglePlay_Badge_Web_color_English.png' alt='Get it on Google Play'/>
                        </a>
                    </div>
                </div>
                <div class="banner-image-block">
                    <img src="../../img/mobile_banner.svg"/>
                </div>
            </div>
        </div>
    </section>

