<section class="feature">
    <div class="bg-image bg-bottom-out">
            <img src="../../img/bg-page-gray.png"/>
        </div>
    <div class="container">
        <h2 class="section-title underlined-light">Feature</h2>
        <div class="image-content row-reverse">
            <div class="content-block">
                <h5 class="content-block-title">Vivamus sit amet interdum</h5>
                <div class="content-block-description">
                    <p>Maecenas nisl libero, tincidunt id odio id, feugiat vulputate quam. Vestibulum feugiat rhoncus metus.</p>
                </div>
                <div class="content-block-actions">
                    <button class="content-block-actions-btn btn">Sign Up Free</button>
                </div>
            </div>
            <div class="image-block">
                <img class="image-block-img" src="../../img/bitmap-2.svg" alt="Product image"/>
            </div>
        </div>
        <div class="image-content">
            <div class="content-block">
                <h5 class="content-block-title">Vivamus sit amet interdum</h5>
                <div class="content-block-description">
                    <p>Maecenas nisl libero, tincidunt id odio id, feugiat vulputate quam. Vestibulum feugiat rhoncus metus.</p>
                    <p>Maecenas nisl libero, tincidunt id odio id, feugiat vulputate quam. Vestibulum feugiat rhoncus metus.</p>
                </div>
                <div class="content-block-actions">
                    <button class="content-block-actions-btn btn">Sign Up Free</button>
                </div>
            </div>
            <div class="image-block">
                <img class="image-block-img" src="../../img/bitmap.svg" alt="Product image"/>
            </div>
        </div>
    </div>
</section>