<section class="slider-section">
    <div class="bg-image bg-bottom">
        <img src="../../img/bg-page-linear.png"/>
    </div>
    <div class="container">
        <h2 class="slider-title">Vivamus sit amet interdum</h2>
        <div class="slider-list">
            <div class="slider-item">
                <img src="../../img/mobile-presentation-1.png"/>
            </div>
            <div class="slider-item">
                <img src="../../img/mobile-presentation-2.png"/>
            </div>
            <div class="slider-item">
                <img src="../../img/mobile-presentation-3.png"/>
            </div>
            <div class="slider-item">
                <img src="../../img/mobile-presentation-4.png"/>
            </div>
            <div class="slider-item">
                <img src="../../img/mobile-presentation-5.png"/>
            </div>
        </div>
    </div>
</section>