@font-face {
    font-family: 'Sofia Pro';
    src: url('./SofiaProUltraLight.ttf');
    src: url('./SofiaProUltraLight.woff2') format('woff2'),
        url('./SofiaProUltraLight.woff') format('woff'),
        url('./SofiaProUltraLight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./SofiaProLight.ttf');
    src: url('./SofiaProLight.woff2') format('woff2'),
        url('./SofiaProLight.woff') format('woff'),
        url('./SofiaProLight.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}